.text{
    outline: 2px solid black;
    border-radius: 4px;
    margin: 9px;
    font-size: 22px;
    font-family: "Bahnschrift";
    font-weight: 600;
    background-color: var(--color-2);
    color: lavender;
}

.text:focus {
    outline: 2px solid black;
}